.dropdown-menu{
    background-color: rgba(255, 255, 255, 0.05);
    /* Very light transparent white */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    /* for Safari */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* subtle border */
    border-radius: 10px;
}