ErrorDocument 404 /error.php

RewriteEngine On
RewriteBase /

RewriteRule ^/?images/([^/]+)?$ images.php?name=$1 [L,QSA,NC]

# Resolve .php file for extensionless php urls
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/.]+)$ $1.php [L]